[submodule "vim/bundle/SudoEdit.vim"]
	path = vim/bundle/SudoEdit.vim
	url = https://github.com/vim-scripts/SudoEdit.vim.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-togglelist"]
	path = vim/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/vimfiler.vim"]
	path = vim/bundle/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "vim/bundle/tcomment_vim"]
	path = vim/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-move"]
	path = vim/bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "vim/bundle/vim-signify"]
	path = vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/autoswap.vim"]
	path = vim/bundle/autoswap.vim
	url = https://github.com/vim-scripts/autoswap.vim.git
[submodule "vim/bundle/vim-polyglot-darkcloud"]
	path = vim/bundle/vim-polyglot-darkcloud
	url = https://github.com/prurigro/vim-polyglot-darkcloud.git
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/MatchTagAlways"]
	path = vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "vim/bundle/tcommand_vim"]
	path = vim/bundle/tcommand_vim
	url = https://github.com/tomtom/tcommand_vim.git
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/goyo.vim"]
	path = vim/bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/bundle/vim-fixkey"]
	path = vim/bundle/vim-fixkey
	url = https://github.com/drmikehenry/vim-fixkey.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle.pager/vim-markdown-concealed"]
	path = vim/bundle.pager/vim-markdown-concealed
	url = https://github.com/prurigro/vim-markdown-concealed
[submodule "vim/bundle/ttagecho_vim"]
	path = vim/bundle/ttagecho_vim
	url = https://github.com/tomtom/ttagecho_vim.git
[submodule "vim/bundle/incsearch.vim"]
	path = vim/bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "vim/bundle/patchreview-vim"]
	path = vim/bundle/patchreview-vim
	url = https://github.com/junkblocker/patchreview-vim
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/rename.vim"]
	path = vim/bundle/rename.vim
	url = https://github.com/danro/rename.vim.git
[submodule "vim/bundle/ReplaceWithRegister"]
	path = vim/bundle/ReplaceWithRegister
	url = https://github.com/prurigro/ReplaceWithRegister.git
[submodule "vim/bundle/FastFold"]
	path = vim/bundle/FastFold
	url = https://github.com/Konfekt/FastFold.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/bundle/cosco.vim"]
	path = vim/bundle/cosco.vim
	url = https://github.com/lfilho/cosco.vim
[submodule "vim/bundle/splitjoin.vim"]
	path = vim/bundle/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/w0rp/ale
[submodule "vim/bundle/lightline-ale"]
	path = vim/bundle/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/bundle/deoplete.nvim"]
	path = vim/bundle/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/bundle/nvim-yarp"]
	path = vim/bundle/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/bundle/vim-hug-neovim-rpc"]
	path = vim/bundle/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/bundle/neco-syntax"]
	path = vim/bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule "vim/bundle/vim-extradite-tap349"]
	path = vim/bundle/vim-extradite-tap349
	url = https://github.com/tap349/vim-extradite.git
